*{
    background-color:#1c212e;
}
.MinuteText{
    height:3vh;
    font-family: 'Poppins', sans-serif;
    width: 35vw;
    border-radius: 5px;
    padding:10px;
    color: white;
    border:1px solid rgb(65, 65, 65);
}
.ButtonChange{
    height:4vw;
    width:4vw;
}